@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Outfit;
}

html, body {
  transition: background-color 0.3s, color 0.3s;
}

body.dark {
  background-color: #11001F; /* Custom dark theme background */
  color: white;
}

body.light {
  background-color: white; /* Light theme background */
  color: black;
}
